<div>

<div class="card no-outline mb-2 room-card">
<%= link_to chatroom.name.capitalize, chatroom, class:"text-info" %>

<small class="text-info " > <%= @users.uniq.count%> Members </small>
</div>

</div>